
////////////////////////////////////////////////////////////
// colors
////////////////////////////////////////////////////////////

$colorFont: #1D1D1B;
$colorFontLight: #706762;
$colorFontWhite: #F1ECE6;
$colorCta: #668E36;

$colorBackgroundWhite: #F1ECE6;
$colorBackgroundCream: #E5DFD9;
$colorBackgroundBrown: #7C7563;