@use "mixins" as *;

////////////////////////////////////////////////////////////
// fonts
////////////////////////////////////////////////////////////

$fontFamilyDefault: "Roboto", sans-serif;
$fontFamilyHeading: "roca", sans-serif;

@mixin fontFamilyDefault() {
    @include fontFamily($fontFamilyDefault);
}

@mixin fontFamilyHeading() {
    @include fontFamily($fontFamilyHeading);
}

@mixin fontSizeText() {
    @include font-19-30-5-L();
    @include fontFamilyDefault();
}

@mixin fontSizeH1() {
    @include font-70-72-1();
    @include fontFamilyHeading();

    & {
        font-weight: 900;
    }
}

@mixin fontSizeH2() {
    @include font-30-30-5();
    @include fontFamilyHeading();
}

@mixin fontSizeH3() {
    @include fontFamilyHeading();
}

@mixin fontSizeH4() {
    @include fontFamilyHeading();
}

@mixin fontSizeH5() {
    @include fontFamilyHeading();
}

@mixin fontSizeH6() {
    @include fontFamilyHeading();
}

////////////////////////////////////////////////////////////
// fonts - specific
////////////////////////////////////////////////////////////

@mixin font-70-72-1() {
    // Titel
    @include font(70, 72, 1);

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(30, 37, 1);
    }
}

@mixin font-30-30-5() {
    // Title Small
    @include font(30, 30, 5);

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(22, 28, 1);
    }
}

@mixin font-24-39-5-L() {
    // Text
    @include font(24, 39, 5);

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(16, 25, 3);
    }
}

@mixin font-19-30-5-L() {
    // Body Text
    @include font(19, 30, 5);

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(14, 22, 3);
    }
}

@mixin font-50-63-1-BL() {
    // Paragraph
    @include font(50, 63, 1);
    font-weight: 900;

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(22, 28, 1);
    }
}

@mixin font-17-17-10-M-U() {
    // Link
    @include font(17, 17, 10);
    text-transform: uppercase;

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(13, 13, 10);
    }
}

@mixin font-50-63-1-BL() {
    // Infos
    @include font(50, 63, 1);
    font-weight: 900;

    // LAYOUT mobile
    @media (max-width: 1023px) {
        @include font(30, 40, 1);
    }
}

////////////////////////////////////////////////////////////
// font faces
////////////////////////////////////////////////////////////

@import "https://use.typekit.net/blg5uwg.css";

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 100;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Thin.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Thin.woff") format("woff"),
        url("/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 100;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-ThinItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-ThinItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 200;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-ExtraLight.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-ExtraLight.woff") format("woff"),
        url("/fonts/roboto/Roboto-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 200;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-ExtraLightItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-ExtraLightItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 300;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Light.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Light.woff") format("woff"),
        url("/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 300;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-LightItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-LightItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 400;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Regular.woff") format("woff"),
        url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 400;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-Italic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Italic.woff") format("woff"),
        url("/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 500;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Medium.woff") format("woff"),
        url("/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 500;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-MediumItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-MediumItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 600;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-SemiBold.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-SemiBold.woff") format("woff"),
        url("/fonts/roboto/Roboto-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 600;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-SemiBoldItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-SemiBoldItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 700;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Bold.woff") format("woff"),
        url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 700;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-BoldItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 800;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-ExtraBold.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-ExtraBold.woff") format("woff"),
        url("/fonts/roboto/Roboto-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 800;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-ExtraBoldItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-ExtraBoldItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 900;
    font-style: normal;
    src:
        url("/fonts/roboto/Roboto-Black.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-Black.woff") format("woff"),
        url("/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-display: swap;
    descent-override: 0%;
    font-weight: 900;
    font-style: italic;
    src:
        url("/fonts/roboto/Roboto-BlackItalic.woff2") format("woff2"),
        url("/fonts/roboto/Roboto-BlackItalic.woff") format("woff"),
        url("/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}
