@use 'mixins' as *;

.grid-container {
    display: grid;
}

.grid-container > div:first-child:last-child:not([class]) {
    grid-column-start: 2;
    grid-column-end: 14;
}

.grid-container {
    grid-column-gap: 4.5rem;
    grid-template-columns: 18.5rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 7rem;

    // LAYOUT mobile
    @media (max-width: 1023px) {
        grid-column-gap: 1rem;
        grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2rem;
    }
}

.grid-container-inner {
    @include col(12);
    @include col-start(2);

    display: grid;
    grid-column-gap: 4.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    // LAYOUT mobile
    @media (max-width: 1023px) {
        grid-column-gap: 1rem;
    }
}
